*{ /*reset*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: red;
    height: 12vh;
}
.restante{
    background-color: green;
    height: 800px;
}

.track{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: mandatory;
}
.slide{
    flex: 0 0 100vw; /*ocupa a tela toda */
    height: 88vh;
    display: grid;
    grid-template-areas: "stack"; /*área única */
    scroll-snap-align: center;
}
.slide img, .slide .overlay{
    grid-area: stack; /*faz ocupar a mesma área, um sob o outro */
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.overlay{
    display: grid;
    /*mobile: texto embaixo e gradiente escuro embaixo*/
    align-content: end;
    padding: 20px;
    background: linear-gradient(to top, rgba(0,0,0,0.99)0%, transparent 60%);
    color: #FFF;
    transition: all 0.5s ease;
}

/* quando tela for larga: desktop ou mobile paisagem */
@media (min-width: 768px){
    .overlay{
        align-content: center;
        justify-content: start;
        padding: 5%;
        background: linear-gradient(to right, rgba(0,0,0,0.99)0%, transparent 60%);
    }
    .carrossel-content{
        max-width: 400px;
    }

}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide .carrossel-content h2 {
  animation: fadeInUp 0.8s ease forwards;
}

.slide .carrossel-content p {
  animation: fadeInUp 0.8s ease forwards 0.2s; /* Delay de 0.2s para o texto */
}